{% extends 'base.twig' %}

{% block main %}
    <section id="intro">
        <h1>{{ 'Home'|trans }}</h1>
        <figure>
            <img src="{{ asset('assets/images/monkeys.jpg') }}" alt="monkeys"/>
            <figcaption>A bunch of monkeys</figcaption>
        </figure>
    </section>
{% endblock %}
