{% extends 'base.twig' %}

{% block main %}
    <h1>Handmade websites with less headaches</h1>
    <p>Building sites by hand is fun. HTML, CSS and JS are great, and they produce clean, fast and safe websites.</p>
    <p>The drawback is the time you need to invest and the flexibility you lose.</p>
    <p>Jug is my personal tool to minimise the drawbacks of building by hand.</p>
    <p>Head over to the <a href="features.html">features page</a> to see what it's all about.</p>
    <p>You can find more in-depth examples on the <a href="demo/index.html">demo page</a>.</p>
    <aside>This is mainly educational project only intended for personal use.</aside>
{% endblock %}
